# Framework Utama
streamlit==1.35.0
langchain==0.2.1
langchain_community

# Integrasi Model & Embeddings
langchain-google-genai==1.0.4
langchain-huggingface==0.0.3
sentence-transformers==2.7.0


# Vector Store & Loader Dokumen
faiss-cpu==1.8.0
pypdf==4.2.0

# Utilitas
python-dotenv==1.0.1


# Opsional: Untuk API Kustom (jika Anda menggunakan RunPod)
requests==2.31.0
